html , body{
  height: 100%;
}

*{
  box-sizing: border-box;
}

.custom-container {
  max-width: 765px;
  margin: 35px auto;
 

  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  border-radius: 3px;
  
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 
}
